<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--service模块
        spring配置service中所需的配置
    -->

    <!--service模块,服务需要配置dubbox,故需要使用dubbox的约束和标签配置service中的spring配置-->
    <!--配置注册中心应用名称-->
    <dubbo:application name="service-search"/>

    <!--配置注册中心地址-->
    <dubbo:registry address="zookeeper://192.168.200.128:2181"/>

    <!--注册到注册中心地址-->
    <dubbo:protocol name="dubbo" port="20881"/>

    <!--开启dubbox的注解扫描,暴露服务-->
    <dubbo:annotation package="cn.lxdl.service"/>
</beans>