<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 系统 controller配置springMVC -->

    <context:property-placeholder location="classpath:properties/applicaton.properties"/>
    <!-- 视图解析器：不配置：数据，动态加载 异步加载 -->
    <!-- 配置springmvc的处理器映射器、适配器 -->
    <!--
        object与json间的转换，之前：Jackson（ObjectMapper  readValue:json转成对象  writeValue：将对象转成json串）
        第三方：fastjson（阿里）
    -->
    <!-- 配置springMVC的注解支持 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <!--配置转换器支持类型 application/json-->
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="features">
                    <array>
                        <!--支持值为Null-->
                        <value>WriteMapNullValue</value>
                        <!--日期格式-->
                        <value>WriteDateUseDateFormat</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 配置springMVC中dubbo系统的配置 -->
    <dubbo:application name="web-manager"/>

    <!-- 配置注册中心 -->
    <dubbo:registry address="zookeeper://192.168.200.128:2181"/>
    <!-- zk集群注册中心的配置 -->
    <!--<dubbo:registry protocol="zookeeper" address="ip1:port1,ip2:port2,ip3:port3"/>-->

    <!-- 配置dubbo协议 -->
    <dubbo:annotation package="cn.lxdl.controller"/>

    <!-- 配置连接超时,check="true" -->
    <!--
        check:检查服务提供方是否存在，默认检查   不：false
        timeout：超时时间
    -->
    <dubbo:consumer timeout="600000"/>

    <!-- 配置springMVC文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--指定附件的大小-->
        <property name="maxUploadSize" value="5242880"/>
        <!--指定附件编码格式-->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>


</beans>