<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置mybatis的额外的功能-->
    <!--配置分页助手 (插件)-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!--指定数据库方言,既是用来指定项目使用的数据库-->
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>

</configuration>