<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 生成静态商品详情页的spring配置 -->

    <!-- 管理freeMarkerConfigurer -->
    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- 指定模板的位置 -->
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
        <!-- 指定模板编码格式 -->
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 管理服务接口实现类 -->
    <bean id="staticPageService" class="cn.lxdl.service.staticPage.StaticPageServiceImpl">
        <!-- 使用setter方式给实现类注入freeMarkerConfigurer -->
        <property name="freeMarkerConfigurer" ref="freeMarkerConfigurer"/>
    </bean>

</beans>